.button {
  border: none;
  color: $white;
  font-weight: 600;
  font-size: 1em;
  border-radius: 50px;
  background-color: $light-blue;
  cursor: pointer;
  transition: all 0.35s ease;

  &:hover {
    transform: translateY(-3px);
  }

  &:focus {
    outline: none;
  }
}
