/*
 * General input global styles
 */

 input[type="text"],
 input[type="url"] {
   background-color: $light;
   border: 2px solid rgba($secondary, 0.35);
   font-size: 1rem;
   padding-left: 20px;
   color: $dark;
   padding: 10px 20px;
   border-radius: 30px;
   box-sizing: border-box;

   &:focus {
     outline: none;
   }
 }