.modal {
  padding: 50px 0;
  height: 350px;
  color: $white;
  @extend %animationSlideUp;

  @include media-breakpoint-down(sm) {
    margin-top: 100px;
    height: 100vh;
  }

  .container {
    min-width: 50%;
    padding: 45px 60px;
    background-color: rgba($primary, 0.6);
    border-radius: 5px;
  }

  &.mobile-fixed {
    @include media-breakpoint-down(lg) {
      z-index: 2;
      position: fixed;
      top: 0;
    }
  }

  .head {
    display: flex;
    justify-content: flex-end;

    .close {
      font-size: 1.5em;
      cursor: pointer;
    }
  }

  .title {
    margin: 10px 0 0 0;
    color: $white;
  }

  .content {
    @include media-breakpoint-up(lg) {
      width: 70%;
    }

    p {
      @include media-breakpoint-down(sm) {
        line-height: 1.3;
      }
    }
  }
}