.modal {
  padding: 50px 0;
  height: 350px;
  @extend %animationSlideUp;

  @include allText {
    color: $white;
  }

  @include atSmall {
    margin-top: 100px;
    height: 100vh;
  }

  .inner-container {
    min-width: 50%;
    padding: 45px 60px;
    background-color: rgba($primary, 0.6);
    border-radius: 5px;
  }

  &.mobile-fixed {
    @include atTablet {
      z-index: 2;
      position: fixed;
      top: 0;
    }
  }

  .head {
    display: flex;
    justify-content: flex-end;

    .close {
      font-size: 1.5em;
      cursor: pointer;
    }
  }

  .title {
    margin: 10px 0 0 0;
  }

  .content {
    @include atMediumUp {
      width: 70%;
    }

    p {
      @include atSmall {
        line-height: 1.3;
      }
    }
  }
}