.bold {
  font-weight: 700;
}

//colors
.light-blue {
  color: $light-blue;
}

.dark {
  color: $dark;
}

.white {
  color: $white;
}

.emphasize {
  font-weight: 700;
  color: $purple;
}

//links
a.link {
  text-decoration: none;
  font-size: 16px;
  transition: all 0.25s ease;

  &:hover {
    color: $purple;
  }

  //hide on mobile for now
  @include atSmall {
    display: none;
  }
}
