.left {
  display: flex;
  transition: all 0.2s ease;

  @include media-breakpoint-down(lg) {
    transform: translateY(-100vh);
    height: 0;
  }

  .mobile-content {
    display: flex;
    transition: all 0.2s ease;

    @include media-breakpoint-down(lg) {
      transform: translateX(-125vw);
    }
  }

  &.show {
    transform: translateY(0);
    height: 50px;

    @include media-breakpoint-down(lg) {
      padding-top: 12.5px;
    }

    .mobile-content {
      transform: translateX(0);
    }
  }

  @include media-breakpoint-down(lg) {
    order: 1;
  }

  .navbar-col {
    padding: 0 15px;

    @include media-breakpoint-down(lg) {
      border: 0;
    }
  }
}
