nav.main-nav {
  @import "navbar-left";

  background-color: rgba($light-blue, 0.15);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  padding: 10px 0;

  .inner-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include atTablet {
      flex-direction: column;
    }
  }

  .navbar-col {
    padding: 0 7.5px;
    border-left: 1px solid rgba($white, 0.15);
    display: flex;
    align-items: center;

    &:first-child {
      border-left: 0;
    }

    &#video-controls {
      margin-right: 10px;
    }
  }

  .right {
    @import "parts/mobile-toggle";

    display: flex;

    .video-content {
      @include atSmallUp {
        display: flex;
      }
    }

    @include atTablet {
      order: 0;
    }

    .app-toggle-group {
      display: flex;
    }
  }
}