.navbar-col {
  display: flex;

  .ui-button {
    @include ui-button(1em, 10px);

    background-color: transparent;
    color: $primary;
    border: none;
    display: flex;
    align-items: center;
    width: 20px;

    &.larger {
      font-size: 1.5em;
    }
  }
}