.content.intro-modal {
  .play-container {
    display: flex;
  }

  .play-item {
    background-color: rgba($secondary, 0.5);
    border: 1px solid $secondary;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;

    @include column-center;

    &__title {
      font-size: 14px;
      margin-bottom: 7.5px;
      color: $white;
    }

    &__icon {
      font-size: 2em;
    }
  }
}