nav.main-nav {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;

  .navbar-col {
    display: flex;
    align-items: center;
  }

  .right {
    .mobile-toggle {
      display: flex;
      align-items: center;
      width: 35px;
    }
  }

  .left {
    display: flex;
    transition: all 0.2s ease;
  
    .mobile-content {
      display: flex;
      transition: all 0.2s ease;
    }
  
    &.show {
      transform: translateY(0);
      height: 50px;
  
      .mobile-content {
        transform: translateX(0);
      }
    }
  }
}