nav.main-nav {
  background-color: $dark;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  padding: 10px 0;

  .inner-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .right {
    display: flex;

    @include atSmall {
      flex-direction: column;
      width: 100%;
    }

    .app-toggle-group {
      display: flex;
    }

    .navbar-col {
      padding: 0 7.5px;
      border-left: 1px solid rgba($white, 0.25);

      &:first-child {
        border-left: 0;
      }

      &#video-controls {
        margin-right: 10px;
      }
    }
  }

  .left {
    .navbar-col {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}