@mixin button-size-normal() {
  padding: 20px 35px;
}

@mixin button-size-large() {
  padding: 22.5px;
}

@mixin ui-button($size) {
  background-color: $light-blue;
  padding: 7.5px;
  border: 1px solid rgba($white, 0.2);
  color: $white;
  font-size: $size;
  cursor: pointer;

  @extend %bounceUp;
}

