/*
 * Common position classes that can be used in CSS
 * instead of by classes
 */

@mixin hard-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin column-hard-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

