%borderTop {
  border-top: 1px solid rgba($white, 0.5);
  padding-top: 7.5px;
}

%absoluteFill {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

%disabled {
  pointer-events: none;
  opacity: 0.2;
}

%animationTuckAway {
  transition: all 0.45s ease;
  transform: translate(0, 0);
  opacity: 1;

  &.hidden {
    height: 0 !important;
    padding: 0;
    opacity: 0;
    transform: translate(100vw, -175vh);

    @include atSmall {
      transform: translate(0, -100vh);
    }
  }
}

%animationSlideUp {
  transition: all 0.45s ease;
  transform: translateY(0);

  &.hidden {
    height: 0;
    transform: translateY(-200vw);
  }
}

%animationBounceUp {
  @include atTabletUp {
    transition: all 0.35s ease;

    &:hover {
      transform: translateY(-2px);
    }
  }
}