@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font($family) {
  font-family: $family, Helvetica, Arial, sans-serif;
}

/*
 * Common position classes that can be used in CSS
 * instead of by classes
 */

 @mixin hard-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
 * UI Elements
 */
@mixin scrollbar($color, $size) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $color;
  }
}

/*
 * Buttons
 */

@mixin button-size-normal() {
  padding: 20px 35px;
}

@mixin button-size-large() {
  padding: 22.5px;
}

@mixin ui-button($size, $padding:7.5px) {
  background-color: $primary;
  padding: $padding;
  border: 1px solid rgba($white, 0.2);
  color: $white;
  font-size: $size;
  cursor: pointer;
  @extend %animationBounceUp;
}