/* App Colors */

// Text Colors
$header: #666;

// State Colors
$danger: #bc0000;

/* Section Spacers */
$SPC-TINY: 15px;
$SPC-SMALL: 25px;
$SPC-SMALL-PLUS: 40px;
$SPC-MED: 60px;
$SPC-MED-PLUS: 75px;
$SPC-LARGE: 100px;
$SPC-EX-LARGE: 150px;

/* Typography */
$BASE_FONT_SIZE: 18px;
$PARA_FONT_SIZE: 1em;
$SMALL_PARA_FONT_SIZE: 1em;

/* Line heights */
$LINE-HEIGHT: 1.36;
$MOBILE-LINE-HEIGHT: 1.25;