.search-input-container {
  display: flex;

  form {
    height: 100%;
    width: 100%;
    overflow: hidden;

    input {
      height: 100%;
      width: 100%;
    }
  }

  .search-input {
    width: 100%;
  }

  .search-icon {
    i,
    svg {
      @include ui-button(1.7em);

      &:hover {
        transform: translateY(0);
      }
    }
  }
}