.video-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  max-height: 500px;
  overflow-y: scroll;
  @include scrollbar($purple, 4px);

  .video-preview {
    flex-basis: 33%;
    border-top: 5px solid $light-blue;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 200px;
    margin-bottom: 5px;
    padding: 5px 7.5px;
    box-sizing: border-box;
    @extend %animationBounceUp;
    @extend %bgImage;

    @import "parts/overlay-preview";

    &:hover {
      .overlay-preview {
        opacity: 1;
        transform: translateX(0);
      }
    }

    img {
      width: 100%;
    }
  }
}