#video-search,
#video-collection {
  @import "search-bar";
  @import "video-results";

  @include spacer-medium;

  height: 500px;
  @extend %animationTuckAway;

  .inner-container {
    width: 100%;
    overflow: hidden;
  }
}