#video-search,
#video-collection {
  @import "search-bar";
  @import "video-results";

  padding-bottom: $SPC-MED;
  height: 200px;

  @extend %animationTuckAway;

  .container {
    width: 100%;
    overflow: hidden;
  }
}

#video-search.searched,
#video-collection {
  height: 600px;
}