/* // $primary: #3ab8ea;
// $light: #fff;
// $dark: #23272a;
// $grey: #ededed;
// $secondary: #d97cd5; */

html,
main {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Position YouTube iframe */
.video-render iframe {
  margin-top: -150px;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 3;
  width: 100%;
  height: calc(100% + 250px);
}

/* Animation tuck away */
#timer-container,
#video-search,
#video-collection {
  transition: all 0.45s ease;
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: all;

  &.hidden {
    height: 0 !important;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    transform: translate(100vw, -175vh);
  }
}

/* Helpers */
.cursor-pointer {
  cursor: pointer;
}

#ambedOfficeFrame #m_excelEmbedRenderer_m_ewaEmbedViewerBar{
  display: none;
}
