.component-controls,
.video-controls {
  margin-bottom: 7.5px;
  display: flex;
  justify-content: flex-end;
}

.video-controls {
  border-radius: 0 0 0 3px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 2.5px 10px;
}