.component-controls,
.video-controls {
  margin-bottom: 7.5px;
  display: flex;
  justify-content: flex-end;
  @extend %animationBounceUp;

  .mute-icon {
    width: 48px;
    margin-top: 3px;
  }

  .ui-button {
    cursor: pointer;

    svg,
    i {
      color: $purple;
      font-size: 16px;

      &.red {
        color: $red;
      }
    }
  }
}