.rangeslider.rangeslider-horizontal {
  min-width: 75px;
  box-shadow: none;
  margin: 0;
  height: 5px;

  .rangeslider__handle {
    box-shadow: none;
    border: none;
    width: 15px;
    height: 15px;

    &:after {
      background-color: transparent;
      box-shadow: none;
    }

    &:focus {
      outline: none;
    }
  }

  .rangeslider__fill {
    height: 5px;
    box-shadow: none;

    &:focus {
      outline: none;
    }
  }
}