.rangeslider.rangeslider-horizontal {
  min-width: 75px;
  box-shadow: none;
  margin: 0;
  height: 5px;
  overflow: hidden;

  @include atSmall {
    min-width: 175px;
  }

  .rangeslider__handle {
    background-color: $secondary;
    box-shadow: none;
    border: none;
    width: 22px;
    height: 22px;

    &:after {
      background-color: transparent;
      box-shadow: none;
    }

    &:focus {
      outline: none;
    }
  }

  .rangeslider__fill {
    height: 5px;
    background-color: $primary;
    box-shadow: none;

    &:focus {
      outline: none;
    }
  }
}