@import "breakpoints";
@import "colors";
@import "spacers";
@import "type";

// Container widths
$CONTAINER: 85%;
$CONTAINER-SMALL: 85%;

// Line heights
$LINE-HEIGHT: 1.36;
$MOBILE-LINE-HEIGHT: 1.25;

