@import "breakpoints";
@import "colors";
@import "spacers";
@import "type";

//container widths
$CONTAINER: 85%;
$CONTAINER-SMALL: 100%;

//line heights
$LINE-HEIGHT: 1.36;
$MOBILE-LINE-HEIGHT: 1.5;

