time.daily-minutes {
  cursor: pointer;
  position: relative;

  .minute {
    color: $white;
    font-weight: 700;
    font-size: 2em;
    margin-right: 3.5px;
  }

  .label {
    color: $light-blue;
  }
}