.main-timer {
  display: flex;
  align-items: flex-end;
  color: $white;
  transition: all 0.35s ease;
  transform: translateY(0);

  &.hidden {
    transform: translateY(-400px);
  }

  .time {
    font-size: 4em;
    line-height: 1;
  }

  .time-label {
    font-size: 1.25em;
    font-weight: 700;
    margin-left: 3.5px;
  }

  .seperator {
    line-height: 1.5;
    font-size: 3em;
    margin: 0 7.5px;
  }
}
