.timer-start {
  @include hard-center;
  @include ui-button(1em);

  padding: 0 30px;

  .start-timer,
  p {
    color: $white;
    transition: all 0.35s ease;
  }

  .start-timer {
    margin: 0 5px;
  }
}