%animationTuckAway {
  transition: all 0.45s ease;
  transform: translate(0, 0);
  opacity: 1;

  &.hidden {
    height: 0 !important;
    padding: 0;
    opacity: 0;
    transform: translate(100vw, -175vh);

    @include atSmall {
      transform: translate(0, -100vh);
    }
  }
}

%animationSlideUp {
  transition: all 0.45s ease;
  transform: translateY(0);

  &.hidden {
    height: 0;
    transform: translateY(-200vw);
  }
}

%animationBounceUp {
  transition: all 0.35s ease;

  &:hover {
    transform: translateY(-2px);
  }
}