@mixin mb-small() {
  margin-bottom: $SPC-SMALL-PLUS;

  @include atMedium {
    margin-bottom: $SPC-SMALL;
  }
}

@mixin mb-medium() {
  margin-bottom: $SPC-MED;

  @include atMedium {
    margin-bottom: $SPC-SMALL-PLUS;
  }
}

@mixin mb-custom($large, $small) {
  margin-bottom: $large;

  @include atMedium {
    margin-bottom: $small;
  }
}

@mixin mb-custom-full($large, $medium, $small) {
  margin-bottom: $large;

  @include atMedium {
    margin-bottom: $medium;
  }

  @include atSmall {
    margin-bottom: $small;
  }
}
