/* Section Spacers */
@mixin spacer-medium() {
  padding: $SPC-MED-PLUS 0;

  @include atMedium {
    padding: $SPC-MED 0;
  }
}

@mixin spacer-small() {
  padding: $SPC-SMALL-PLUS 0;

  @include atMedium {
    padding: $SPC-SMALL 0;
  }
}

@mixin spacer-custom($small, $large) {
  padding: $large 0;

  @include atMedium {
    padding: $small 0;
  }
}

@mixin spacer-custom-full($small, $medium, $large) {
  padding: $large 0;

  @include atMedium {
    padding: $medium 0;
  }

  @include atSmall {
    padding: $small 0;
  }
}

@mixin spacer-side-custom($small, $large) {
  padding: 0 $large;

  @include atMedium {
    padding: 0 $small;
  }
}

@mixin spacer-side-custom-full($small, $medium, $large) {
  padding: 0 $large;

  @include atMedium {
    padding: 0 $medium;
  }

  @include atSmall {
    padding: 0 $small;
  }
}
