@import "spacer";
@import "bottom";
@import "right";
@import "left";

/* Top and Bottom Spacers */
@mixin mt-small() {
  margin-top: $SPC-SMALL-PLUS;

  @include atMedium {
    margin-top: $SPC-SMALL;
  }
}

@mixin mt-medium-plus() {
  margin-top: $SPC-MED-PLUS;

  @include atMedium {
    margin-top: $SPC-MED;
  }
}

@mixin mt-medium() {
  margin-top: $SPC-MED;

  @include atMedium {
    margin-top: $SPC-SMALL-PLUS;
  }
}

@mixin mt-large() {
  margin-top: $SPC-LARGE;

  @include atTablet {
    margin-top: $SPC-MED;
  }
}
