@mixin mt-small() {
  margin-top: $SPC-SMALL-PLUS;

  @include atMedium {
    margin-top: $SPC-SMALL;
  }
}

@mixin mt-medium() {
  margin-top: $SPC-MED;

  @include atMedium {
    margin-top: $SPC-SMALL-PLUS;
  }
}

@mixin mt-custom($large, $small) {
  margin-top: $large;

  @include atMedium {
    margin-top: $small;
  }
}

@mixin mt-custom-full($large, $medium, $small) {
  margin-top: $large;

  @include atMedium {
    margin-top: $medium;
  }

  @include atSmall {
    margin-top: $small;
  }
}
